In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                   'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})

In [2]:
df

    Animal  Number_legs
0      cat          4.0
1  penguin          2.0
2      dog          4.0
3   spider          8.0
4    snake          NaN

In [7]:
df['Number_legs'].rank()

0    2.5
1    1.0
2    2.5
3    4.0
4    NaN
Name: Number_legs, dtype: float64

In [6]:
df['Number_legs'].rank(ascending = False)

0    2.5
1    4.0
2    2.5
3    1.0
4    NaN
Name: Number_legs, dtype: float64

In [6]:
df

    Animal  Number_legs  default_rank
0      cat          4.0           2.5
1  penguin          2.0           1.0
2      dog          4.0           2.5
3   spider          8.0           4.0
4    snake          NaN           NaN